<a href="https://colab.research.google.com/github/Lee-Sammy/Hyunseo_DTSC3020_Fall2025/blob/main/Lee_Assign2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple", "banana", "orange"]
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

In [ ]:
names = ["John", "Alice", "Bob", "Emma"]
names[0] = "Mike"
print(names)

In [ ]:
vehicles = ["car", "bus", "bike", "train", "truck"]
vehicles.append("scooter")
print(vehicles)

In [ ]:
foods = ["pizza", "burger", "pasta", "sushi", "salad", "taco"]
foods.remove("pasta")
print(foods)

In [ ]:
cities = ["Dallas", "Austin", "Houston", "San Antonio"]
cities.sort()
print(cities)
cities.reverse()
print(cities)

In [ ]:
animals = ["dog", "cat", "rabbit"]
for animal in animals:
    print(animal)

In [ ]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number * 2)

In [ ]:
friends = ["James", "Lily", "Sophie", "Noah", "Olivia", "Ethan"]
print(friends[:3])  # First three
print(friends[-3:]) # Last three

In [ ]:
nums = list(range(1, 11))
print(nums)

In [ ]:
squares = [x**2 for x in range(1, 6)]
print(squares)